<!doctype html>
<html lang="en">
    <head>
        <title>El Website</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/style.css">
        <link rel="icon" href="/favicon.ico">

    </head>
    <body>
        <ul>
            <li><a href="/exam/index">Index</a></li>
            <li><a href="/exam/visa">Visa</a></li>
            <li><a href="/exam/search">Search</a></li>
        </ul>
    </body>
</html>