<%- include('../partials/header') %>
<!-- 
<section class="gallery"
<img src="/stock.jpg" alt="Stock Image"> -->

<h1>
    WELCOME !
</h1>

<img src="/stock.jpg" alt="Stock Image" style="width: 20%; height: 20%;">

<%- include('../partials/footer') %>